<div class="row">
  <div class="col-md-8">
    <table class="table table-striped">
      <thead>
        <th>Id</th>
        <th>Title</th>
        <th>Description</th>
        <th>Action</th>
      </thead>
      <tbody *ngIf="(posts$ | async) as postsData">
        <tr *ngFor="let post of postsData">
          <td>{{post.id}}</td>
          <td>{{post.title}}</td>
          <td>{{post.description}}</td>
          <td>
            <button class="btn btn-primary" [routerLink]="[ 'edit', post.id]">Update Post</button>
            <div class="btn btn-danger" (click)="onDeletePost(post.id)">Delete Post</div>
          </td>
        </tr>
      </tbody>
    </table>

    <button  class="btn btn-primary" [routerLink]="['/posts/add']">
      Add post
    </button>
  </div>

  <div class="col-md-4">
    <router-outlet></router-outlet>
  </div>
</div>